$width-main: 1440px;
$width-large: 1200px;
$width-iPad-landscape: 1030px;
$width-medium: 992px;
$width-small: 752px;
$desktop-spacing: 70px;
$desktop-spacing-small: 35px;
$desktop-spacing-large: 70px;
$mobile-spacing: 35px;
$mobile-spacing-vw: 8vw;
$mobile-spacing-large: 40px;
$mobile-spacing-large-vw: 11vw;

