.title-component{
	padding: 0 150px;
	h1{
		border-top: 1px solid rgba(0,0,0,.3);
		border-bottom: 1px solid rgba(0,0,0,.3);
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}
	p{
		&.title-description{
			padding: 0 60px;
			text-align: center;

		}
	}

	@include breakpoint(max-width $width-medium) {
   		height: 60px;
	}

}