<div class="title-component">
	<h1>Dye Electric Service Inc.</h1>


	<p class="text-center">Have you been told that it could not be done or repaired? Dye Electric Service does the difficult immediately, the impossible takes a little longer.</p>
	<br>
	<br>

{{!-- 	<p>Dye Electric Service Inc. is a licensed and insured electrical contractor. Dye Electric operates in Georgia, Tennessee, and Alabama specializing in both residential and commercial constructions.</p> --}}

</div>

<div class="home-body">
	<p class="description">
		Dye Electric Service Inc. is a licensed and insured electrical contractor. Dye Electric operates in Georgia, Tennessee, and Alabama specializing in both residential and commercial constructions.

		Our previous work includes but is not limited to:
		<div class="col">
			<h3>Residential Work:</h3>
			<ul>
				<li>Rewire</li>
				<li>Panel Changeouts</li>
				<li>Service Calls</li>
				<li>Correcting overloaded circuits</li>
				<li>Adding circuits</li>
				<li>LED lighting</li>
				<li>Specialized area lighting</li>
				<li>Landscape lighting</li>
				<li>Service upgrades</li>
				<li>Data, phone, and TV wiring</li>
				<li>Basement electrical completion</li>
				<li>Temporary construction service rentals</li>
			</ul>
		</div>

		<div class="col">
			<h3>Commercial Work:</h3>
			<ul>
				<li>Build outs</li>
				<li>Rewires</li>
				<li>Equipment connections</li>
				<li>Lighting retro fits</li>
				<li>Adding circuits</li>
				<li>Sign timers</li>
				<li>Interior/exterior lighting control</li>
				<li>Data circuits</li>
			</ul>
		</div>

		<div class="col">
			<h3>Industrial Work:</h3>
			<ul>
				<li>Single Phase and 3 Phase high voltage installation</li>
				<li>Motor Controls</li>
				<li>Warehouse Lighting</li>
				<li>Grounding & Bonding of Electrical equipment</li>
				<li>Control Wiring</li>
				<li>Transformer Installation</li>
			</ul>
		</div>
	</p>
</div>