<header>
	<img src="/images/logo.png" alt="Dye Electric"></img>
	<a href="#" id="mobile-menu"><i class="fa fa-2x fa-bars" aria-hidden="true"></i></a>

	<div class="right-container">
		{{!-- <div class="contact">
			<p>Contact us today to make an appointment</p>
			<a href="tel:706-632-5244">706-632-5244</a>
			
		</div> --}}
		{{>navigation}}

	</div>


</header>